server:
  port: 8087

logging:
  level:
    com:
      alphbank:
        paymentservice: DEBUG
    org:
      springframework:
        web: DEBUG
    reactor:
      netty:
        http:
          client:
            HttpClient: DEBUG
          server:
            HttpServer: DEBUG

alph:
  client:
    corepaymentservice:
      uri: http://localhost:8080
    signing-service:
      uri: http://localhost:8085
      single-payment-document-to-sign-template: "I hereby authorize this payment of %s %s to the recipient IBAN number %s, with execution date and time %s"

alph-commons:
  wiretapEnabled: true

spring:
  main:
    web-application-type: reactive
  application:
    name: PaymentService
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/payment
    username: alph
    password: admin
  flyway:
    url: jdbc:postgresql://localhost:5432/payment
    user: alph
    password: admin
    validate-on-migrate: true
    locations: classpath:/db/migration
  rabbitmq:
    host: localhost
    username: alph
    password: admin
    payment-signing-status-routing-key: paymentservice.signing.status.update
    payment-signing-status-exchange: signingservice
    payment-signing-status-queue: paymentservice.signing