server:
  port: 8087

logging:
  level:
    com:
      fasterxml:
        jackson:
          databind: DEBUG
      alphbank:
        paymentservice: DEBUG
    org:
      springframework:
        web: DEBUG
        http:
          codec:
            json: DEBUG
    reactor:
      netty:
        http:
          client:
            HttpClient: DEBUG
          server:
            HttpServer: DEBUG

alph:
  client:
    corepaymentservice:
      uri: http://localhost:8080
    signing-service:
      uri: http://localhost:8085
      single-payment-document-to-sign-template: "I hereby authorize this payment of %s %s to the recipient IBAN number %s, with execution date and time %s."
      periodic-payment-document-to-sign-template: "I hereby authorize this periodic payment of %s %s to the recipient IBAN number %s, with start date %s, end date %s and frequency %s."
    payment-service:
      psd2:
        basket-status-uri-template: http://localhost:${server.port}/v1/signing-baskets/%s
        basket-authorization-status-uri-template: http://localhost:${server.port}/v1/signing-baskets/%s/authorisations/%s
        basket-authorization-uri-template: http://localhost:${server.port}/v1/signing-baskets/%s/authorisations

alph-commons:
  wiretapEnabled: true

spring:
  main:
    web-application-type: reactive
  application:
    name: PaymentService
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/payment
    username: alph
    password: admin
  flyway:
    url: jdbc:postgresql://localhost:5432/payment
    user: alph
    password: admin
    validate-on-migrate: true
    locations: classpath:/db/migration
  rabbitmq:
    host: localhost
    username: alph
    password: admin
    payment-signing-status-routing-key: paymentservice.signing.status.update
    payment-signing-status-exchange: signingservice
    payment-signing-status-queue: paymentservice.signing